@model IEnumerable<DotNetWebStudentCatalog.Models.Entity.StudentModel>

@{
    ViewBag.Title = "Index";
}

<h2>Students</h2>

@if (ViewContext.HttpContext.User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div class="row">
    <div class="col-md-8">@Html.DisplayNameFor(model => model.FirstName)</div>

</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
    </tr>

    @foreach (var item in Model) {
     <tr>
         <td>
             @Html.DisplayFor(modelItem => item.FirstName)
         </td>
         <td>
             @Html.DisplayFor(modelItem => item.LastName)
         </td>
         <td>
             @Html.DisplayFor(modelItem => item.Phone)
         </td>
         @if (ViewContext.HttpContext.User.IsInRole("admin"))
         {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentModelId }) |
                @Html.ActionLink("Details", "Details", new { id = item.StudentModelId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentModelId })
            </td>
         } 
     </tr>
    }
</table>