@model DotNetWebStudentCatalog.Models.Entity.StudentModel


<div class="form-group">
    @Html.LabelFor(a => a.FirstName, new { @class = "col-md-2 control-label"})
    <div class="col-md-10">
        @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control"})
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(a => a.LastName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(a => a.LastName, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(a => a.Phone, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(a => a.Phone, new { @class = "form-control" })
    </div>
</div>

