@model IEnumerable<DotNetWebStudentCatalog.Models.Entity.CompetencyModel>

@{
    ViewBag.Title = "Index";
}

<h2>Competency Header</h2>
@if (ViewContext.HttpContext.User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.competencyHeader.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.competencyHeader.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            @if (ViewContext.HttpContext.User.IsInRole("admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CompetencyModelId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CompetencyModelId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CompetencyModelId })
                </td>
            }
        </tr>
    }
</table>
